# Виртуальное окружение
venv/
.venv/
env/

# Файл с секретами (вы уже добавили, это отлично)
.env

# Системные и кэшированные файлы Python
__pycache__/
*.py[cod]
*$py.class

# Файлы логов (если вы их пишете в файл, например app.log)
*.log

# Файлы IDE (если используете VS Code или PyCharm)
.vscode/
.idea/

# Файлы истории базы данных или временные файлы данных (если появятся)
.DS_Store